<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%#= form.trix_editor :content %>
    <%= form.trix_editor :content, required: true, autofocus: true %>
    
  </div>
  
  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image, direct_upload: true %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

