<div class="card">
    <% if post.image.attached? %>
      
        <%= image_tag(post.image, class: "card-img-top") %>
        
        
      
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= truncate(sanitize(post.content, tags: []), length: 100) %></p>
    
    <%= link_to 'Show', post, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_post_path(post) %>
     <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div> 
</div>