<%= render 'form', post: @post %>
<div id="messages"></div>
<p id="notice"><%= notice %></p>
<%= link_to 'New Post', new_post_path %>


<h1>Posts</h1>

    <div class="card-columns">
      <%= render @posts %>
    </div>
  

