<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= sanitize(@post.content) %>
</p>


<% if @post.image.attached? %>
<p>
  <strong>Image:</strong>
  <br>
  <%# @post.images.each do |image| %>
    <%= image_tag(@post.image) %>
    
  
  <%# end %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
